// Core variables and mixins
@import "variables.scss";
@import "mixins.scss";
// Global CSS
@import "global.scss";
@import "nav.scss";
@import "resume-item.scss";
@import "bootstrap-overrides.scss";
// Components


.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

.tab {
    padding: 2px;
    display: block;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1) !important;
    border-radius: 2px;
    &+.tab {
    margin-top: 5px;
    }
    img {
      border-radius: 2px;
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      img {
        -webkit-filter: none; /* Safari 6.0 - 9.0 */
        filter:  none;
      }
    }
}

section { 
background-color: #F6F4E7; 
  background: url('../img/bg2.png');
}

:focus{outline: none;}
.effect-1{
  border: 0; 
  padding: 7px 0; 
  border-bottom: 1px solid #ccc;
  background:transparent;
  width: 50px;
  text-align: center;
}
.effect-1 ~ .focus-border {
  position: absolute; 
  bottom: 0; 
  left: 50%; 
  width: 0; 
  height: 2px; 
  background-color: maroon; transition: 0.4s;
}
.effect-1:focus ~ .focus-border{width: 100%; transition: 0.4s; left: 0;}

#cobb {
  position: absolute;
  left: 0;
  transform: translateX(-200%);
  top: -157px;
  width: 100px;
  -webkit-transition: -webkit-transform 1s;
     -moz-transition: -moz-transform 1s;
          transition: transform 1s;
  &.show {
    transform: translateX(155%);
  }
}

.input-wrapper, #result-wrapper {
  position: relative;
}
